body {
	background-image: url("../images/love.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

ul#taskList {
	padding: 0 25px;
	color:White;
}





li.task:hover .deleteTaskBtn {
	visibility: visible;
	opacity: 1;
}




input[placeholder] {
	font-size: 16px;
	color: blue;
}

#container {
	width: 40%;
	height: 500px;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
}

#header {
	color: #bd3ccf;
	padding: 5px;
	text-align: center;
	font-family: Arial, sans-serif;
}

#inputContainer {
	padding: 13px;
}

#inputContainer #taskInput {
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	box-sizing: border-box;
}

#listWrapper {
	position: absolute;
	bottom: 50px;
	top: 160px;
	right: 0;
	left: 0;
	overflow: scroll;
	overflow-x: hidden;
scrollbar-face-color: #a38845
}


#dlteItembtn{
	
	opacity: 0.5;
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	border: 1px solid white;
	width: 90px;
	height: 21px;
	font-size: 12px;
	outline: none;
	transition: all 0.1s ease-in-out;
	position: absolute;
    right: 17px;
} 

#dlteItembtn:hover{
	cursor: pointer;
	opacity: 1;
	background-color: #bd3ccf;
	
}


#deleteBtnWrapper {
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	bottom: 15px;
	padding: 0 15px;
}

#deleteBtnWrapper #deleteCompletedBtn {
	float: left;
	-webkit-appearance: none;
	opacity: 0.5;
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	border: 1px solid white;
	width: 150px;
	height: 25px;
	font-size: 14px;
	outline: none;
	transition: all 0.1s ease-in-out;
		
}

#deleteBtnWrapper #deleteCompletedBtn:hover {
	cursor: pointer;
	opacity: 1;
	background-color: #bd3ccf;
}

#deleteBtnWrapper #addTaskBtn {
	float: right;
	opacity: 0.5;
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	border: 1px solid white;
	width: 150px;
	height: 25px;
	font-size: 14px;
	outline: none;

}
h1{
	margin-top:6px;
}

#deleteBtnWrapper #addTaskBtn:hover {
	cursor: pointer;
	opacity: 1;
	background-color: #bd3ccf;
}



